body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 10px solid black;
    width: 475px;
    height: 750px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

#display {
    width: 475px;
    height: 150px;
    border: 10px solid black;
    font-size: 64px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
}

button {
    width: 110px;
    height: 110px;
    border: 1px solid black;
    font-size: 32px;
}

.number {
    background-color: dodgerblue;
}

.operator {
    background-color: orange;
}